// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.logo {
    height: 50px;
    width: auto;
    // filter: invert(70%);

}

h1 {
    font-family: $sa;
    font-weight: 900;
    //color: skyblue;
}

svg.cart {
    width: 45px;
    height: 45px;
    fill: $second;
    // transform: scaleX(-1);
}

.ithem {
    background-color: rgba(255, 0, 0);
    padding: 5px;
    height: 20px;
    line-height: 10px;
    border-radius: 20px;
    color: white;
    transform: translateX(-25px) translateY(-6px);
}

.imputnumber {
    width: 80px;
    align-items: center;
    justify-content: center;
}

.mystyle {
    background-image: url("/public/images/temp/tomatoes-5365186.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.97;
    border-radius: 41px;
    text-align: center;
}

.shadow_new {
    color: white;
    text-shadow: 10px 10px 20px black, 10px 10px 15px rgb(50, 50, 52), 0 0 5px rgb(19, 19, 21);
}


.up {
    float: right;
    transform: translateX(0px) translateY(calc(2em - 50px));
    background-color: crimson;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    margin: 20px;
    z-index: 1;
}

// .btnsort{
// transform: translateX(20%);
// }

// .btnpage
// {
// transform: translateX(60%);
// }

.pagination>li>a,
.pagination>li>span {
    color: rgb(65, 65, 65); // use your own color here
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
}

.btn {
    width: 80px;
}

.star {
    --star-color: orange;
    margin: 1em auto;
    font-size: 0.5em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
    background-color: white;
    color: transparent;
    fill: none;
}

.star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: "";
}



#rating-score {
    display: flex;
    overflow: hidden;


}
