// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.logo {
    height: 50px;
    width: auto;
    // filter: invert(70%);

}

.conteiner-blue {
    min-height: auto;
    background-color: rgb(27, 176, 235);
}

.conteiner-black {
    min-height: auto;
    background-color: black;
}

.conteiner-lemon {
    min-height: auto;
    background-color:   #FAFA33;
}


h1,
h3 {
    font-family: $sa;
    font-weight: 900;
    //color: skyblue;
}

svg.cart {
    width: 45px;
    height: 45px;
    fill: $second;
    // transform: scaleX(-1);
}

.ithem {
    background-color: rgba(255, 0, 0);
    padding: 5px;
    height: 20px;
    line-height: 10px;
    border-radius: 20px;
    color: white;
    transform: translateX(-25px) translateY(-6px);
}

.imputnumber {
    width: 80px;
    align-items: center;
    justify-content: center;
}

.mystyle {
    // background-image: url("/public/images/temp/table.jpg");
    // background-attachment: fixed;
    // opacity: 0.97;
    // background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.6) 0%, rgba(116, 114, 114, 0.9) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #D6D6D6;
}

.shadow_new {
    color: rgba(254, 254, 254, 0.95);
    text-shadow: 10px 10px 20px black, 10px 10px 15px rgb(50, 50, 52), 0 0 5px rgb(19, 19, 21);

}

.up {
    float: right;
    transform: translateX(0px) translateY(calc(2em - 50px));
    background-color: crimson;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    margin: 20px;
    z-index: 1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_pic {
    position: relative;
    text-align: center;
    color: white;

}

.pagination>li>a,
.pagination>li>span {
    color: rgb(65, 65, 65); // use your own color here
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
}

.btnFront {
    max-width: 700px;
}

.text-block {
    opacity: .95;
    background-color: crimson;
    color: white;
    border-radius: 15px;
    font-family: $cl;
    font-weight: 100;
    width: 250px;
    height: 100px;
    font-size: 31px;
    z-index: 10;
    line-height: 100px;
    border: solid 2px #869791;
    transition: 2s;
}

.text-block-sm {
    opacity: .95;
    background-color: crimson;
    color: white;
    border-radius: 15px;
    font-family: $cl;
    font-weight: 100;
    width: 250px;
    height: 80px;
    line-height: 80px;
    border: solid 2px #869791;
    z-index: 10;
    transition: 2s;
    font-size: 31px;    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.text-block-sm:hover {
    background-color: rgb(27, 176, 235);
    transition: .5s;
    font-size: 36px;
    width: 263px;
    height: 84px;
    line-height: 84px;
    animation: fadein 2s;
}



.text-block:hover {
    background-color: rgb(27, 176, 235);
    transition: 0.5s;
    font-size: 36px;
    width: 263px;
    height: 105px;
    line-height: 105px;
    animation: fadein 2s;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 15%;
    // top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    // background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -40px;
}

.owl-carousel .next-slide {
    // background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -30px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

.bi {
    color: rgb(214, 214, 214);
    font-size: 2rem;
}

.bi:hover {
    color: #869791;
}
